*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
    height: 80px;
    width: 100%;
    background-color: rgb(21, 12, 12);
    align-items: center;
    
}
#logo1{
    color: white;
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    &:hover{
            color: aqua;}
}
#logo2{
    color: aqua;
    position: absolute;
    top: 20px;
    left: 150px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
ul{
    display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
  position: absolute;
  top: 30px;
right: 400px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0s;
    
}


ul li a {
    position:relative;
    z-index: 1;
  }
ul li a:hover {
    color: black;
    background-color: aqua;
    border-radius: 20px;

  }
  .button a{
    padding: 5px 20px 10px 20px ;
    
    position: absolute;
    top: 17px;
    right: 70px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px aqua solid;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bolder;
  }
  .button a:hover{
    background-color: aqua;
    color: black;
    
  }
  

  .mid{
    height: 580px;
    width: 100%;
    background-color: black;
    z-index: -1;
  }
  h3{
    color: white;
    position: absolute;
    top: 250px;
    left: 220px;

  }
  h1{
    color: white;
    position: absolute;
    top: 260px;
    left: 200px;
    font-size: 80px;
    cursor: pointer;
   
  }
  #gu{
    color: aqua;
    position: absolute;
    top: 350px;
    left: 190px;
  }
  #dh{
    color: white;
    position: absolute;
    top: 260px;
    left: 350px;
    font-size: 80px;
    cursor: pointer;
    &:hover{
        color: aqua;
    }
  }
  #img{
    height: 400px;
    position: absolute;
    right: 250px;
    top: 200px;
    z-index: 1;
  }
  .mid p{
    width: 400px;
    color: white;
    position: absolute;
    top: 470px;
    left: 190px;
    font-weight: bolder;
    font-size: 20px;
  }
  .hire a {
    padding: 5px 20px 10px 20px ;
    
    position: absolute;
    top: 550px;
    left: 200px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px aqua solid;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bolder;
  }
  .hire a:hover{
    background-color: aqua;
    color: black;
    bottom: 10px aqua;
    
  }
  hr{
    color: aqua;
    width: 100%;
    border: 5px aqua solid;
    position: absolute;
    top: 700px;
    
  }
  .lower{
    height: 800px;
    width: 100%;
    background-color: black;
    z-index: -1;
  }
  #me{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 750px;
    left: 200px;
    border: 2px aqua solid;
    padding: 5px 20px 10px 20px ;
    width: 200px;
    border-radius: 20px;
    transition: 0.3s;
    &:hover{
      background-color: aqua;
      color: black;
      bottom: 10px aqua;}
    
  }
  #cv{
    padding: 5px 20px 10px 20px ;
    
    position: absolute;
    top: 550px;
    left: 350px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px aqua solid;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bolder;
    &:hover{
      background-color: aqua;
      color: black;
      bottom: 10px aqua;
    }
  }
  
  #name{
    color: aqua;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 850px;
    right: 400px;
  }
    #info1{
      color: white;
      font-size: 30px;
      font-weight: bolder;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      position: absolute;
      top: 900px;
      right: 730px;
      width: 600px;
    }
#nam{
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 900px;
  left: 410px;
  &:hover{
    color: aqua;
    cursor: pointer;
  }
}
#info2{
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 935px;
  right: 730px;
  width: 600px;
}
#info{
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 935px;
  left: 590px;
  &:hover{
    color: aqua;
    cursor: pointer;
  }
}
#inf{
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 970px;
  right: 730px;
  width: 600px;
}
#skill{
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 1180px;
  left: 190px;
  border: 2px aqua solid;
  padding: 5px 20px 10px 20px ;
  width: 150px;
  border-radius: 20px;
  transition: 0.3s;
  &:hover{
    background-color: aqua;
    color: black;
    bottom: 10px aqua;}
  
}
.pho{
  border: 3px aqua solid;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 800px;
  right: 100px;
  
}
.slill{
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
  
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#ht{
  
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0s;
    position: absolute;
  top: 1275px;
right: 900px;
font-size: 30px;
border: 2px solid transparent;
border-radius: 20px;
padding: 2px 10px 2px 10px;
cursor: pointer;
transition: 0.5s;
&:hover{
  background-color: aqua;
  color: black;}

}
#html-logo{
color: white;
  position: absolute;
top: 1285px;
right: 990px;
font-size: 30px;
cursor: pointer;

}
#css{
  color: white;
  position: absolute;
  top: 1280px;
  right: 620px;
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid transparent;
border-radius: 20px;
padding: 2px 10px 2px 10px;
cursor: pointer;
transition: 0.5s;
&:hover{
  background-color: aqua;
  color: black;}
}
#css3{
  color: white;
  position: absolute;
top: 1285px;
right: 700px;
font-size: 30px;
cursor: pointer;
}
#py{
  color: white;
  position: absolute;
  top: 1280px;
  right:300px;
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid transparent;
  transition: 0.5s;
border-radius: 20px;
padding: 2px 10px 2px 10px;
cursor: pointer;
&:hover{
  background-color: aqua;
  color: black;}
}
#pyt{
  color: white;
  position: absolute;
top: 1285px;
right: 430px;
font-size: 30px;
cursor: pointer;
}
#js{
  color: white;
  position: absolute;
  width: 200px;
  top: 1280px;
  right: -80px ;
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid transparent;
border-radius: 20px;
padding: 2px 10px 2px 10px;
transition: 0.5s;
cursor: pointer;
&:hover{
  background-color: aqua;
  color: black;}
}
#java{
  color: white;
  position: absolute;
top: 1285px;
right: 130px;
font-size: 30px;
cursor: pointer;
}


  
  
  
